<% layout('layouts/boilerplate') %>

    <div class="container-fluid p-0">
        <!-- Navbar -->
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="/src/bsl.png" alt="Bulakenyo Spotted Logo" width="40" height="40" class="me-2">
                <strong>BULAKENYO Spotted</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <% if (!currentUser) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-success text-white ms-2" href="/register">Register</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav> -->
        <!-- Hero Section -->
        <div id="carouselExampleSlidesOnly carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="container-fluid d-block home-banner" src="/src/tempBanner.JPG" alt="" />
                </div>
                <div class="carousel-item ">
                    <img class="container-fluid d-block home-banner" src="/src/tempBanner2.jpg" alt="" />
                </div>
                <div class="carousel-item ">
                    <img class="container-fluid d-block home-banner" src="/src/tempBanner3.JPG" alt="" />
                </div>
            </div>
            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button> -->
        </div>


        <div class="main-container row align-items-center">
            <!-- Text Section -->
            <div class="col-lg-6 col-md-12 text-center text-lg-start mb-4 home-txt">
                <h1 class="display-4 fw-bold">Let's Explore Bulakan Together</h1>
                <p class="lead">
                    Discover the heart of Bulacan in Bulakan, where vibrant culture, historical landmarks, and scenic wonders await your journey!
                </p>
                <a href="/spotgrounds" class="btn btn-lg btn-success explore-btn">EXPLORE</a>
            </div>
        
            <!-- Image Gallery Section -->
            <div class="col-lg-6 col-md-12 img-gallery">
                <div class="row g-3">
                    <div class="col-4 col-sm-4 col-md-4">
                        <div class="card">
                            <img src="/src/portbanner.jpg" class="card-img-top img-fluid home-gallery" alt="Spot 1" />
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4">
                        <div class="card">
                            <img src="/src/portbanner2.jpg" class="card-img-top img-fluid home-gallery" alt="Spot 2" />
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4">
                        <div class="card">
                            <img src="/src/portbanner3.jpg" class="card-img-top img-fluid home-gallery" alt="Spot 3" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .home-banner{
            height: 400px; 
            object-fit: cover; 
            border-radius: 5px 20px 5px;
        }
        .home-txt {
            /* width: 50%; */
        }
        .home-gallery {
            height: 30vh;
            object-fit: cover;
        }

        .explore-btn {
            background-color: #63806f;
            font-weight: bolder;
            font-size: 2em;
            letter-spacing: 3px;

        }
    </style>